<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{category.name}}</title>
</head>

<body>
    <h1>Catalog App</h1>
    <div class='flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <h2>{{category.name}}</h2>
    <a href="{{url_for('newItem', category_id = category_id)}}">Create a new item</a>
    </br>
    </br>
    {% for i in items %}
    <a href="{{url_for('showItem', category_id = category_id, item_id = i.id)}}">{{i.name}}</a>
    </br>
    <a href="{{url_for('editItem', category_id = category_id, item_id = i.id)}}">Edit</a>
    <a href="{{url_for('deleteItem', category_id = category_id, item_id = i.id)}}">Delete</a>
    </br>
    </br>
    {% endfor %}
    <a href="/">Back</a>
</body>

</html>