<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    <title>Item Catalog</title>
</head>

<body>
    <div class="pane">
        <header>
            <h1>Catalog App</h1>
        </header>
        <section class="prompt">
            <a href="/login">Login</a>
        </section>
        <section class="flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </section>
        <main>
            <h2>Categories</h2>
            {% if not categories %}
            <span class="empty">
                <p>There is no category</p>
            </span>
            {% endif %}
            {% for i in categories %}
            <div class="data">
                <span class="name">
                    <a href='{{url_for('showItems', category_id = i.id)}}'>{{i.name}}</a>
                </span>
            </div>
            {% endfor %}
        </main>
    </div>
</body>

</html>