<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    <title>Create a New Category</title>
</head>

<body>
    <div class="pane">
        <header>
            <h1>Catalog App</h1>
        </header>
        <main>
            <h2>New Category</h2>
            <form action="/new_category/" method="post">
                <dl>
                    <dt>Name:</dt>
                    <dd>
                        <input type="text" size="30" required="required" name="name">
                        <input type="submit" value="Create">
                        <a href="/">Cancel</a>
                    </dd>
                </dl>
            </form>
        </main>
    </div>
</body>

</html>